@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background-image: url("../images/back.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
  background-color: #eeeeee;
}

.container {
  height: 100%;
  align-content: center;
}

.central {
  width: 400px;
  margin: 50px auto;
}

.centralLogin {
  width: 300px;
  margin: 50px auto;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.links a {
  margin-left: 4px;
}


table,
th,
td {
}


.tab-titulo {
    background-color: #F5F5F5;
}

.index-superior {
    z-index: 2;
}

.shadow-dois {
  text-shadow: 2px 2px 15px #333333, 0 0 10px #333333;
}

.shadow-dois {
  color: white;
}

.pad-pequeno {
  padding-top: 100px;
  height: 250px;
}

.banner-pequeno {
    padding-top: 30px;
    height: 100px;
}

.my-border-bottom {
  -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.77);
}

.border-1 {
  border: 1px solid #cccccc;
  padding: 20px;
}

.meu-padrao {
  width: 100%;
  padding-bottom: 30px;
}

.teste-img {
    background-image: url("../images/empregoavista.png");
}

.banner-um {
  background-image: url("../images/banner/banner-um.jpg");
}

@media (max-width: 700px) {
  .banner-um {
    background-image: url("../images/banner/mobile/banner-um.jpg");
  }
}

.banner-dois {
  background-image: url("../images/banner/banner-dois.jpg");
}

@media (max-width: 700px) {
  .banner-dois {
    background-image: url("../images/banner/mobile/banner-dois.jpg");
  }
}

.banner-tres {
  background-image: url("../images/banner/banner-tres.jpg");
}

@media (max-width: 700px) {
  .banner-tres {
    background-image: url("../images/banner/mobile/banner-tres.jpg");
  }
}

.banner-quatro {
  background-image: url("../images/banner/banner-quatro.png");
}

@media (max-width: 700px) {
  .banner-quatro {
    background-image: url("../images/banner/mobile/banner-quatro.jpg");
  }
}

.banner-cinco {
  background-image: url("../images/banner/banner-cinco.jpg");
}

@media (max-width: 700px) {
  .banner-cinco {
    background-image: url("../images/banner/mobile/banner-cinco.jpg");
  }
}

.banner-seis {
  background-image: url("../images/banner/banner-seis.jpg");
}

@media (max-width: 700px) {
  .banner-seis {
    background-image: url("../images/banner/mobile/banner-seis.jpg");
  }
}

.banner-sete {
  background-image: url("../images/banner/banner-sete.png");
}

@media (max-width: 700px) {
  .banner-sete {
    background-image: url("../images/banner/mobile/banner-sete.jpg");
  }
}

.banner-oito {
  background-image: url("../images/banner/banner-oito.jpg");
}

@media (max-width: 700px) {
  .banner-oito {
    background-image: url("../images/banner/mobile/banner-oito.jpg");
  }
}

.banner-nove {
  background-image: url("../images/banner/banner-nove.jpg");
}

@media (max-width: 700px) {
  .banner-nove {
    background-image: url("../images/banner/mobile/banner-nove.jpg");
  }
}

.banner-dez {
  background-image: url("../images/banner/banner-dez.jpg");
}

@media (max-width: 700px) {
  .banner-dez {
    background-image: url("../images/banner/mobile/banner-dez.jpg");
  }
}

/* ADICIONADO POR NICHOLAS*/
.table-overflow {
  max-height: 220px;
  overflow-y: auto;
}
